# Binaries
bin/
go-demo
go-demo_unix
*.exe
*.test
*.out
*.db

# Coverage
coverage.txt
coverage.html
coverage.out

# Vendor
vendor/

# IDEs
.idea/
.vscode/
.DS_Store

# Logs
*.log

# Air
tmp/

# Goreleaser
dist/
